*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/sonarlint
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/repo
/buildSrc/build
/buildSrc/.gradle
/stand-gradle-plugin/build
/stand-gradle-plugin/.gradle
/app/src/androidTest
/app/src/test
/build
/captures
.externalNativeBuild
.cxx
local.properties
